@use "./variables.scss" as *;

// put your custom CSS here!

// Headings
h1 {
    font-size: 1.75rem;
    color: color-mix(in srgb, rgb(217, 90, 95) 75%, #CCCCCC);
}

h2 {
    font-size: 1.46rem;
    color: color-mix(in srgb, rgb(219, 134, 80) 75%, #CCCCCC);
}

h3 {
    font-size: 1.31rem;
    color: color-mix(in srgb, rgb(196, 180, 94) 75%, #CCCCCC);
}

h4 {
    font-size: 1.2rem;
    color: color-mix(in srgb, rgb(72,196, 90) 75%, #CCCCCC);
}

h5 {
    font-size: 1.06rem;
    color: color-mix(in srgb, rgb(86, 148, 218) 75%, #CCCCCC);
}

h6 {
    font-size: 1rem;
    color: color-mix(in srgb,  rgb(142, 125, 194) 75%, #CCCCCC);
}
